canvas {
    display: block;
}

#canvasJet, #canvasEnemy, #canvasHUD {
    margin: -500px 0 0;
}
section{
    margin: auto;
    margin-top: 100px;
    width: 800px;
    
}
body{
    width: 80%;
    margin: auto;
    background-color: #79AD08;
}
